.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-star-o {
	width: 0.9287109375em;
}

.icon-trafficlog {
	width: 0.9288504464285714em;
}

.icon-enable {
	width: 1.142578125em;
}

.icon-disable {
	width: 1.142578125em;
}

.icon-delete {
	width: 0.7861328125em;
}

.icon-oauth-facebook {
	width: 0.587890625em;
}

.icon-oauth-google {
	width: 0.83984375em;
}

.icon-billing-invoices {
	width: 0.857421875em;
}

.icon-settings {
	width: 0.857421875em;
}

.icon-prices {
	width: 0.845703125em;
}

.icon-billing-buy-credit {
	width: 1.0004185267857135em;
}

.icon-chat_top_menu {
	width: 1.3125em;
}

.icon-settings-webhook {
	width: 1.125em;
}

.icon-settings-oauth-key {
	width: 0.875em;
}

.icon-chat_left_menu {
	width: 1.125em;
}
