/**
 * UPGRADE INSTRUCTIONS:
 * - go to icomoon.io
 * -> recommended: log in with the devs@oc.dk account and load the GatewayAPI-project
 * -> fallback: import the font/selection.json
 * - do what you have to do
 * - build the font and replace the font files in font/fonts
 * - also download the SVG/PNG-package and save the results in svg
 * - take the css from the generated font-package and replace from the tag following i {...} and below with the same parts from the css.
 * - update the urls of the font-face to cache-bust with something unique
 * - ???
 * - PROFIT
 */
/* line 14, icons.scss */
.gwi-14 {
  font-size: 14px !important;
  line-height: 14px;
}
/* line 18, icons.scss */
.gwi-14.gwi-fw {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
}

/* line 27, icons.scss */
.gwi-16 {
  font-size: 16px !important;
  line-height: 16px;
}
/* line 31, icons.scss */
.gwi-16.gwi-fw {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
}

/* line 40, icons.scss */
.gwi-24 {
  font-size: 24px !important;
  line-height: 24px;
}
/* line 44, icons.scss */
.gwi-24.gwi-fw {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

/* line 53, icons.scss */
.gwi-32 {
  font-size: 32px !important;
}
/* line 56, icons.scss */
.gwi-32.gwi-fw {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

/* line 65, icons.scss */
.gwi-t--2 {
  position: relative;
  top: -2px;
}

/* line 70, icons.scss */
.gwi-t-2 {
  position: relative;
  top: 2px;
}

@font-face {
  font-family: 'GatewayAPI-Icons';
  src: url("../font/fonts/GatewayAPI-Icons.woff2?tfc44") format("woff2"), url("../font/fonts/GatewayAPI-Icons.ttf?tfc44") format("truetype"), url("../font/fonts/GatewayAPI-Icons.woff?tfc44") format("woff"), url("../font/fonts/GatewayAPI-Icons.svg?tfc44#GatewayAPI-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 85, icons.scss */
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GatewayAPI-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***** WHEN UPDATING, REPLACE BELOW THIS LINE! *****/
/* line 102, icons.scss */
.gwi-chat_top_menu:before {
  content: "\e932";
}

/* line 106, icons.scss */
.gwi-profile-logout:before {
  content: "\e914";
}

/* line 110, icons.scss */
.gwi-accounts:before {
  content: "\e915";
}

/* line 114, icons.scss */
.gwi-billing-details:before {
  content: "\e919";
}

/* line 118, icons.scss */
.gwi-chat_left_menu:before {
  content: "\e933";
}

/* line 122, icons.scss */
.gwi-settings-oauth-key:before {
  content: "\e909";
}

/* line 126, icons.scss */
.gwi-delete-2:before {
  content: "\e927";
}

/* line 130, icons.scss */
.gwi-accounts-add:before {
  content: "\e910";
}

/* line 134, icons.scss */
.gwi-edit:before {
  content: "\e921";
}

/* line 138, icons.scss */
.gwi-chevron-left:before {
  content: "\e906";
}

/* line 142, icons.scss */
.gwi-bell_on:before {
  content: "\e934";
}

/* line 146, icons.scss */
.gwi-bell_off:before {
  content: "\e935";
}

/* line 150, icons.scss */
.gwi-enter:before {
  content: "\e936";
}

/* line 154, icons.scss */
.gwi-border:before {
  content: "\e7f6";
}

/* line 158, icons.scss */
.gwi-wallet:before {
  content: "\e912";
}

/* line 162, icons.scss */
.gwi-bag-euro:before {
  content: "\e75f";
}

/* line 166, icons.scss */
.gwi-rocket:before {
  content: "\e837";
}

/* line 170, icons.scss */
.gwi-balance:before {
  content: "\e839";
}

/* line 174, icons.scss */
.gwi-invoice:before {
  content: "\e913";
}

/* line 178, icons.scss */
.gwi-freeze:before {
  content: "\e916";
}

/* line 182, icons.scss */
.gwi-defrost:before {
  content: "\e920";
}

/* line 186, icons.scss */
.gwi-newline:before {
  content: "\e922";
}

/* line 190, icons.scss */
.gwi-prices-email:before {
  content: "\e92c";
}

/* line 194, icons.scss */
.gwi-info:before {
  content: "\e92d";
}

/* line 198, icons.scss */
.gwi-settings-credentials:before {
  content: "\e928";
}

/* line 202, icons.scss */
.gwi-deathstar:before {
  content: "\e929";
}

/* line 206, icons.scss */
.gwi-settings-webhook:before {
  content: "\e92a";
}

/* line 210, icons.scss */
.gwi-statusio:before {
  content: "\e92b";
}

/* line 214, icons.scss */
.gwi-search:before {
  content: "\e930";
}

/* line 218, icons.scss */
.gwi-account_overview:before {
  content: "\e92e";
}

/* line 222, icons.scss */
.gwi-edit-2:before {
  content: "\e900";
}

/* line 226, icons.scss */
.gwi-back:before {
  content: "\e901";
}

/* line 230, icons.scss */
.gwi-warning:before {
  content: "\e911";
}

/* line 234, icons.scss */
.gwi-user-add:before {
  content: "\e925";
}

/* line 238, icons.scss */
.gwi-dropdown:before {
  content: "\e902";
}

/* line 242, icons.scss */
.gwi-chevron-up:before {
  content: "\e903";
}

/* line 246, icons.scss */
.gwi-chevron-right:before {
  content: "\e904";
}

/* line 250, icons.scss */
.gwi-chevron-down:before {
  content: "\e905";
}

/* line 254, icons.scss */
.gwi-profile-members:before {
  content: "\e907";
}

/* line 258, icons.scss */
.gwi-profile-me:before {
  content: "\e908";
}

/* line 262, icons.scss */
.gwi-settings-ip:before {
  content: "\e90a";
}

/* line 266, icons.scss */
.gwi-prices-text:before {
  content: "\e90b";
}

/* line 270, icons.scss */
.gwi-billing-transactions:before {
  content: "\e90c";
}

/* line 274, icons.scss */
.gwi-support:before {
  content: "\e90d";
}

/* line 278, icons.scss */
.gwi-documentation:before {
  content: "\e90e";
}

/* line 282, icons.scss */
.gwi-billing:before {
  content: "\e90f";
}

/* line 286, icons.scss */
.gwi-download:before {
  content: "\e931";
}

/* line 290, icons.scss */
.gwi-trafficlog:before {
  content: "\e92f";
}

/* line 294, icons.scss */
.gwi-enable:before {
  content: "\e923";
}

/* line 298, icons.scss */
.gwi-disable:before {
  content: "\e924";
}

/* line 302, icons.scss */
.gwi-delete:before {
  content: "\e917";
}

/* line 306, icons.scss */
.gwi-oauth-facebook:before {
  content: "\e91e";
}

/* line 310, icons.scss */
.gwi-oauth-google:before {
  content: "\e91f";
}

/* line 314, icons.scss */
.gwi-notifications:before {
  content: "\e918";
}

/* line 318, icons.scss */
.gwi-billing-invoices:before {
  content: "\e91a";
}

/* line 322, icons.scss */
.gwi-settings:before {
  content: "\e91b";
}

/* line 326, icons.scss */
.gwi-prices:before {
  content: "\e91c";
}

/* line 330, icons.scss */
.gwi-dashboard:before {
  content: "\e91d";
}

/* line 334, icons.scss */
.gwi-billing-buy-credit:before {
  content: "\e926";
}
